{% extends 'base.html.twig' %}

{% block body %}
    <h1>Generateur ECF</h1>

    <h2>Choisi ta promo</h2>

    <ul>
        {% for city in cities %}
            <li>
                <button class="cityButton" data-linkrequest="{{ path('homepage') }}" data-cityid="{{ city.id }}">{{ city.name }}</button>
            </li>
        {% endfor %}
    </ul>

    <div id="boxPromo">

    </div>
{% endblock %}