{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Choisi ta ville</h1>

    <div class="btn-group btn-group-justified" role="group">
        {% for city in cities %}
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default cityButton" data-linkrequest="{{ path('homepage') }}" data-cityid="{{ city.id }}">{{ city.name }}</button>
            </div>
        {% endfor %}
    </div>

    <div id="boxPromo">

    </div>
{% endblock %}